{
  "comments": false,
  "plugins": ["transform-runtime"],
  "env": {
    "main": {
      "presets": [["env", { "modules": false }], "stage-0"]
    },
    "bg": {
      "presets": [["env", { "modules": false }], "stage-0"]
    }
  }
}
